<md-dialog aria-label="comment book">
    <form ng-cloak name="commentbookForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Comments</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-list flex>
                    <md-list-item class="md-3-line md-long-text" ng-repeat="comment in book.comments">
                        <div class="md-list-item-text">
                            <h3>{{ comment.user }}</h3>
                            <p>
                                {{comment.comment}}
                            </p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>                
                <md-input-container flex>
                    <textarea ng-model="usercomment" placeholder="your comments here" md-maxlength="50" rows="2" md-select-on-focus></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="hide()" md-autofocus>
                Cancel
            </md-button>
            <md-button type="submit" ng-click="AddComment()">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>