<div layout="column" layout-align="center center" layout-padding layout-margin>
    <md-card layout-padding layout-margin>
        <h4>Login</h4>
        <form name="loginForm" ng-submit="login()" autocomplete="off">
            <md-input-container class="md-block">
                <label>UserName</label>
                <input required md-no-asterisk name="username" ng-model="formData.username">
                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required">Username is required.</div>                    
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input required md-no-asterisk name="password" type="password" ng-model="formData.password" >
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">Password is required.</div>                    
                </div>
            </md-input-container>            
            <md-button type="submit" class="md-raised md-primary">Login</md-button>
            <md-button ui-sref="register" class="md-warn">Register</md-button>
        </form>        
    </md-card>
</div>