<div layout="column" layout-align="center center" layout-padding layout-margin ng-hide="isAuthenticated">
    <md-card>
        Welcome to eLibrary. Please Login to continue!!
    </md-card>
</div>
<md-toolbar ng-show="isAuthenticated">
    <div class="md-toolbar-tools" md-colors="::{background: 'default-blue-grey'}">
        <md-autocomplete flex md-require-match md-clear-button="true" md-input-name="searchBook" md-autoselect="true" md-selected-item="selectedBook"
            md-search-text="searchTextBook" md-items="book in querySearch(searchTextBook)" md-item-text="book.name" md-require-match
            placeholder="Search books?">
            <md-icon style="margin-top: 5px"><i class="material-icons md-24">face</i></md-icon>
            <md-item-template>
                <span md-highlight-text="searchTextBook" md-highlight-flags="^i">{{book.name}}</span>
            </md-item-template>
            <md-not-found>
                No matches found.
            </md-not-found>
        </md-autocomplete>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="add book" ng-click="addBook($event)">
            <md-icon class="material-icons">add</md-icon>
        </md-button>
    </div>
</md-toolbar>
<div layout="row" flex-md layout-padding layout-wrap ng-show="isAuthenticated">
    <div ng-repeat="book in books | filter:searchTextBook | orderBy:'name'">
        <md-content>
            <div class="info-box {{color}}">
                <div class="status">{{book.name}}</div>
                <md-divider></md-divider>
                <div class="title">ISBN : {{book.isbn}}</div>
                <div class="title">Category/Genre : {{book.category}}</div>
                <div class="title">Author : {{book.author}}</div>
                <div class="title">Published Date : {{book.publishDate | date:'MM/dd/yyyy'}}</div>
                <md-button class="desc md-warn md-raised" ng-click="showComments(book)">Comments</md-button>
            </div>
            <div>
                <jk-rating-stars max-rating="5" rating="book.userrating" on-rating="onRating(rating,book)"></jk-rating-stars>
                <div style="width: 100px">{{book.userrating}} Stars</div>
            </div>
        </md-content>

    </div>
</div>